<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/custom.css" rel="stylesheet"/>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <form action="#" th:action="@{/passwordChange}" th:object="${passwordChange}" method="post" class="form-signin">

        <div class="page-header">
            <h3>Change LDAP password</h3>
        </div>

        <div class="form-group">
            <p>
                <label for="name">Name/id:</label><br/>
                <input class="form-control required" type="text" id="name" th:field="*{name}"/>
            </p>

            <p>
                <label for="oldPassword">Enter old password:</label><br/>
                <input class="form-control required" type="password" id="oldPassword" th:field="*{oldPassword}"/>
            </p>

            <p>
                <label for="password">Enter new password:</label><br/>
                <input class="form-control required" type="password" id="password" th:field="*{password}" />
            </p>

            <p>
                <label for="inputPassword">Repeat new password:</label><br/>
                <input class="form-control required" type="password" id="inputPassword" th:field="*{passwordRepeat}" />
            </p>

            <p>
                <input class="form-control" type="submit" value="change password" />
            </p>

        </div>


    </form>
</div>
</body>
</html>