<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/custom.css" rel="stylesheet"/>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <form action="#" th:action="@{/passwordChange}" th:object="${passwordChange}" method="post" class="form-signin">

        <div class="page-header">
            <h3>Change LDAP password</h3>
        </div>

        <div class="form-group">
            <p>
                <label for="name">Name/id:</label><br/>
                    <!--<span class="input-group-addon" th:text="*{cnprefix}"></span>-->
                    <input class="form-control required" type="text" id="name" th:field="*{name}"/>
                    <!--<span class="input-group-addon" th:text="*{cnsuffix}"></span>-->
            </p>

            <p>
                <label for="oldPassword">Enter old password:</label><br/>
                <input class="form-control required" type="password" id="oldPassword" th:field="*{oldPassword}"/>
            </p>

            <p>
                <label for="password">Enter new password:</label><br/>
                <input class="form-control required" type="password" id="password" th:field="*{password}" />
            </p>

            <p>
                <label for="inputPassword">Repeat new password:</label><br/>
                <input class="form-control required" type="password" id="inputPassword" th:field="*{passwordRepeat}" />
            </p>

            <p>
                <input class="form-control" type="submit" value="change password" />
            </p>

        </div>


        <div>
            <a href="#config" class="btn btn-info" data-toggle="collapse">details</a><br/>
            <br/>
            <div id="config" class="collapse alert alert-success" role="alert">
                configuration of prefix, suffix and ldap url possible by setting env vars<br/>
                cnprefix, cnsuffix and url. Current config is:<br/>
                <small>ldap://</small><small th:text="*{url}"></small><br/>
                <small th:text="*{cnprefix}"></small><small>YOUR-ID</small><small  th:text="*{cnsuffix}"></small>
            </div>
        </div>


    </form>
</div>
</body>
</html>