<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/custom.css" rel="stylesheet"/>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <form action="#" th:action="@{/passwordChange}" th:object="${passwordChange}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Set new LDAP password</h2>

          <p>
            <label for="name">Name/id</label><br/>
            <input type="text" id="name" th:field="*{name}"/>
          </p>

          <p>
            <label for="oldPassword">old password</label><br/>
            <input type="password" id="oldPassword" th:field="*{oldPassword}"/>
          </p>

          <p>
            <label for="password">new password</label><br/>
            <input type="password" id="password" th:field="*{password}" />
          </p>

          <p>
            <label for="inputPassword">new password</label><br/>
            <input type="password" id="inputPassword" th:field="*{passwordRepeat}" />
          </p>

          <p>
            <input type="submit" value="Submit" />
          </p>
    </form>
</div>
</body>
</html>