<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/custom.css" rel="stylesheet"/>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">


    <div th:if="${error == null}" th:remove="tag">
        <div class="alert alert-success" role="alert">Password changed</div>
    </div>

    <div th:if="${error != null}" th:remove="tag">
        <div class="alert alert-danger" role="alert">Password was not changed<br/>
        <ul>
            <li th:each="message: ${messages}" th:text="${message}" >message</li>
        </ul>
        </div>

    </div>

    <p>
    <a href="/">Back to Change password</a>
    </p>

</div>
</body>
</html>