<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/custom.css" rel="stylesheet"/>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">


    <div th:if="${success != null}" th:remove="tag">
        <div class="alert alert-success" role="alert">password changed</div>
    </div>

    <div th:if="${error != null}" th:remove="tag">
        <div class="alert alert-danger" role="alert">password not changed</div>
        <p th:text="${message}" />

    </div>

    <p>
    <a href="/">back to change password</a>
    </p>

</div>
</body>
</html>